<footer class="site-footer">
    <div class="wrapper">
        <!-- hypercomments -->

        <!-- hypercomments -->

        <!-- Google Analitics -->

        <!-- Google Analitics -->

        <div align="center">
            {% if page.keywords %}
              <p><strong>Tags:</strong> {{ page.keywords | strip_html | strip_newlines | truncate: 160 }}
            {% endif %}</p>
        </div>

        <h2 class="footer-heading">
            Системный Администратор <br />
            {{ site.title }}
        </h2>

        <div class="footer-col-wrapper">
            <div class="footer-col  footer-col-3">
                <p class="text">
                    <strong
                        >Желающие поделиться своим опытом, обсудить материалы,
                        задать вопрос, обновить, сообщить об ошибках и
                        неточностях, пишите в телеграм чат: sysadm_ru.</strong
                    >
                </p>

                <p class="text">
                    <strong
                        >Лучше потратить какое-то количество времени, чтобы
                        записать успешный опыт, чем потом повторно
                        воспроизводить по памяти.</strong
                    ><br /><br />
                    <strong
                        >Все материалы обновляются по мере нахождения лучших
                        практик и апгрейда знаний. Если в проекте будет
                        учавствовать больше людей, качество материалов будет
                        улучшаться и обновляться быстрее.</strong
                    >
                </p>
            </div>
        </div>
    </div>
</footer>
