<header class="site-header">
    <div class="wrapper">
        <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

        <nav class="site-nav">
            <div class="trigger">
                <a class="page-link" href="{{ site.baseurl }}/job/"
                    >Предложить работу</a
                >
                <a class="page-link" href="{{ site.baseurl }}/chat/">Чат</a>
                <a class="page-link" href="{{ site.baseurl }}/sitemap/"
                    >Карта сайта</a
                >
            </div>
        </nav>
    </div>
</header>
